* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;          /* full screen height */
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background: #ff4d4d;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navbar */
nav {
    background: #ff6666;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    font-weight: bold;
}

nav a:hover {
    background: #ff1a1a;
}

/* Section layout */
section {
    flex: 1;                   /* pushes footer down */
    padding: 50px 20px;
    background: #fff5f5;
}
/* Headings */
h2 {
    text-align: center;
    color: #ff4d4d;
    margin-bottom: 30px;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #ffe6e6;
    padding: 20px;
    width: 220px;
    text-align: center;
    border-radius: 10px;
}

/* Images */
.card img {
    width: 100%;
    border-radius: 10px;
}

/* Table */
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ff4d4d;
    padding: 15px;
    text-align: center;
}

th {
    background: #ff9999;
    color: white;
}

/* Form */
form {
    max-width: 400px;
    margin: auto;
    background: #ffe6e6;
    padding: 20px;
    border-radius: 10px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    background: #ff4d4d;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}
/* HERO SECTION */
.hero {
    height: 75vh;
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("https://images.unsplash.com/photo-1599058917215-7ccf73ff11c1?auto=format&fit=crop&w=1600&q=80")
    center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #fff;
}

.hero p {
    font-size: 18px;
}


/* Footer */
footer {
    background: #ff6666;
    color: white;
    text-align: center;
    padding: 15px;
}


.home-hero {
    height: 75vh;
    background: linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.55)
    ),
    url("https://images.unsplash.com/photo-1558611848-73f7eb4001a1?auto=format&fit=crop&w=1600&q=80")
    center / cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.home-hero h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.home-hero p {
    font-size: 18px;
}
